Sem3/XML_Practical/Assign2/1external.dtd

<!ELEMENT student (personalInfo*)>
<!ELEMENT personalInfo (rollNo, name, address, mobile, dob, age, qualification)>
<!ELEMENT rollNo (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT mobile (#PCDATA)>
<!ELEMENT dob (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT qualification (#PCDATA)>
